extends ../layouts/default

block head
  title Drywall is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron

    p.lead
      img(src='/media/dash-mock.png')
    p.lead
      img(src='/media/dash-map.png',style='width:100%')